@import "../../variables.module.scss";

.step {
  width: 33px;
  height: 33px;
  border-radius: 100%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  font-size: 14px;
  color: $white;
  line-height: 16px;
  font-weight: 700;
  &:not(:last-child) {
    margin-right: $sm;
  }
}

.selected {
  background-color: $sky-blue;
  color: $denim;
  border: 1px solid $sky-blue;
}
