@import "../../variables.module.scss";

.step {
  background-color: $sky-blue;
  width: 33px;
  height: 33px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 14px;
  color: $denim;
  line-height: 16px;
  font-weight: 700;
}
