@import "../../variables.module.scss";

.card {
  background-color: white;
  padding: 32px 24px;
  width: 90vw;
  align-self: center;
  border-radius: $border-radius;
  color: $denim;
  h1 {
    font-size: $font-lg;
    padding-bottom: $xs;
  }
  span {
    display: inline-block;
    font-size: $font-sm;
    color: $grey;
    margin-bottom: $sm;
  }

  @media only screen and (min-width: 768px) {
    padding: 16px;
  }
}
